<style>
  ul {
    background-color: #565E64;
    border-radius: 5px;
    margin-top: 5px;
  }

  button {
    margin-right: 3px;
    background-color: #565E64;
  }

  button:hover {
    background-color: #E07F00;
  }
</style>


<ul class="nav justify-content-center">
  <!-- CYBERDRAGON DROPDOWN BUTTON -->
  <li class="nav-item">
    <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
      CyberDragon
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Gold Mining</a></li>
    </ul>
  </li>
  <!-- AXIE INFINITY DROPDOWN BUTTON -->
  <li class="nav-item">
    <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
      Axie Infinity
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Soon...</a></li>
    </ul>
  </li>
  <!-- CRYPTOCARS DROPDOWN BUTTON -->
  <li class="nav-item">
    <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
      CriptoCars
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Soon...</a></li>
    </ul>
  </li>
  <!-- CRYPTOPLANES DROPDOWN BUTTON -->
  <li class="nav-item">
    <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
      CriptoCars
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Soon...</a></li>
    </ul>
  </li>
</ul>